div(
layout="row",
layout-align="center center",
style='height:100%')
    div(
    layout='column'
    style='border: 1px solid rgb(63,81,181); border-width: 2px; padding: 10px 30px; border-radius: 20px;')
        md-input-container
            label Organization
            md-select(
            ng-model='dataviz.database',
            placeholder='Organiation',
            md-on-open='dataviz.loadDatabases()'
            style='min-width: 200px')
                md-option(ng-value='item', ng-repeat='item in dataviz.databases') {{item}}
        md-input-container
            label Project
            md-select(
            ng-model='dataviz.project',
            placeholder='Project',
            md-on-open='dataviz.loadProjects()'
            style='min-width: 200px')
                md-option(ng-value='project', ng-repeat='project in dataviz.projects') {{project}}
        md-checkbox(
        ng-model='changeDepth',
        ng-change='!changeDepth ? dataviz.step = 5 : null',
        style='margin: 15px 0 -5px 0') Change depth
        div(layout='', layout-align='center center')
            md-slider.md-primary( flex='', ng-disabled='!changeDepth', ng-readonly='!changeDepth', md-discrete, ng-model='dataviz.step', step='1', min='1', max='10', aria-label='rating')
        md-button.md-raised.md-primary(ng-disabled='!dataviz.project') Visualize